---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6236a-c0-5613a51e6724b"
      Last-Modified:
      - Tue, 26 Dec 2017 08:46:33 GMT
      X-Iinfo:
      - 14-163670586-163667537 2NNN RT(1514277993951 32) q(0 0 0 -1) r(1 1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "15591.98", "last": "15200.00", "timestamp": "1514277992",
        "bid": "15200.00", "vwap": "14407.05", "volume": "13042.68509695", "low":
        "13465.00", "ask": "15202.00", "open": "13925.50"}'
  recorded_at: Tue, 26 Dec 2017 08:46:34 GMT
recorded_with: VCR 4.0.0
