---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"61611-b9-55b92fe9660d1"'
      Last-Modified:
      - Sun, 15 Oct 2017 10:02:58 GMT
      X-Iinfo:
      - 12-41909302-41909216 2NNN RT(1508061778425 27) q(0 0 0 -1) r(0 0)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "5830.00", "last": "5499.00", "timestamp": "1508061777", "bid":
        "5491.86", "vwap": "5672.22", "volume": "11337.29141737", "low": "5452.00",
        "ask": "5500.00", "open": "5795.01"}'
  recorded_at: Sun, 15 Oct 2017 10:02:59 GMT
recorded_with: VCR 3.0.3
