---
http_interactions:
- request:
    method: get
    uri: http://data.bter.com/api2/1/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"btc_cny":{"result":"true","last":33500.03,"lowestAsk":33500,"highestBid":33425.01,"percentChange":1.3640226163855,"baseVolume":1706042.24,"quoteVolume":50.5835,"high24hr":35000.01,"low24hr":32506.01},"ltc_cny":{"result":"true","last":411,"lowestAsk":412.28,"highestBid":411,"percentChange":17.421313400349,"baseVolume":1544937.76,"quoteVolume":4121.1978,"high24hr":420,"low24hr":338},"xrp_cny":{"result":"true","last":1.518,"lowestAsk":1.539,"highestBid":1.504,"percentChange":-3.126994258947,"baseVolume":161047.966,"quoteVolume":105894.759,"high24hr":1.57,"low24hr":1.434},"xrp_btc":{"result":"true","last":"0.00005700","lowestAsk":"0.00005840","highestBid":"0.00004000","percentChange":24.182996026488,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00005840","low24hr":"0.00004000"},"bcc_cny":{"result":"true","last":1879.77,"lowestAsk":1892.72,"highestBid":1879.77,"percentChange":0.040979244278871,"baseVolume":344649.33,"quoteVolume":183.3048,"high24hr":1939.82,"low24hr":1841},"bcc_btc":{"result":"true","last":0.053,"lowestAsk":0.057,"highestBid":0.053,"percentChange":0,"baseVolume":0.0809,"quoteVolume":1.502,"high24hr":0.055,"low24hr":0.053},"qtum_btc":{"result":"true","last":0.0017,"lowestAsk":0.002418,"highestBid":0.00036,"percentChange":-17.755200774069,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.002418,"low24hr":0.00036},"qtum_eth":{"result":"true","last":0.0283,"lowestAsk":0.03551,"highestBid":0.0289,"percentChange":-5.9800664451827,"baseVolume":3.403,"quoteVolume":113.086,"high24hr":0.033,"low24hr":0.0282},"qtum_cny":{"result":"true","last":41.5,"lowestAsk":71.45,"highestBid":53.9,"percentChange":-38.790560471976,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":71.45,"low24hr":53.9},"zrx_btc":{"result":"true","last":"0.00001010","lowestAsk":"0.00008080","highestBid":"0.00002000","percentChange":-0.00014543882177691,"baseVolume":0.0021,"quoteVolume":204.23,"high24hr":"0.00001010","low24hr":"0.00001010"},"zrx_eth":{"result":"true","last":0.00054,"lowestAsk":0.000595,"highestBid":0.00054,"percentChange":-5.2631578947368,"baseVolume":1.268,"quoteVolume":2311.586,"high24hr":0.00057,"low24hr":0.00054},"zrx_cny":{"result":"true","last":1.5,"lowestAsk":1.5,"highestBid":1.16,"percentChange":15.473441108545,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":1.5,"low24hr":1.16},"dnt_btc":{"result":"true","last":"0.00001290","lowestAsk":"0.00001490","highestBid":"0.00000560","percentChange":-6.585026357218e-5,"baseVolume":0.0361,"quoteVolume":3319.55,"high24hr":"0.00001290","low24hr":"0.00000560"},"dnt_eth":{"result":"true","last":0.0002,"lowestAsk":0.000245,"highestBid":0.000137,"percentChange":3.2608695652174,"baseVolume":21.994,"quoteVolume":123551.1,"high24hr":0.000246,"low24hr":0.000134},"dnt_cny":{"result":"true","last":0.47,"lowestAsk":0.465,"highestBid":0.27,"percentChange":42.857142857143,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.465,"low24hr":0.27},"llt_eth":{"result":"true","last":0.00016,"lowestAsk":0.000319,"highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.000319,"low24hr":"0.00000000"},"llt_cny":{"result":"true","last":0.433,"lowestAsk":0.46,"highestBid":0.405,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.46,"low24hr":0.405},"dpy_eth":{"result":"true","last":0.002002,"lowestAsk":0.002382,"highestBid":0.002003,"percentChange":-15.988250337117,"baseVolume":12.4,"quoteVolume":6030.883,"high24hr":0.002384,"low24hr":0.002002},"etp_btc":{"result":"true","last":0.00067,"lowestAsk":0.00124,"highestBid":0.0001,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.00124,"low24hr":0.0001},"etp_cny":{"result":"true","last":24.38,"lowestAsk":19,"highestBid":4,"percentChange":35.219079312257,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":19,"low24hr":4},"oax_btc":{"result":"true","last":"0.00005510","lowestAsk":0.0001895,"highestBid":"0.00005510","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.0001895,"low24hr":"0.00005510"},"oax_eth":{"result":"true","last":0.00158,"lowestAsk":0.00206,"highestBid":0.00125,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.00206,"low24hr":0.00125},"ubc_btc":{"result":"true","last":"0.00000245","lowestAsk":"0.00000490","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000490","low24hr":"0.00000000"},"ubc_eth":{"result":"true","last":"0.00003050","lowestAsk":"0.00006100","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00006100","low24hr":"0.00000000"},"lrc_eth":{"result":"true","last":0.00053,"lowestAsk":0.000534,"highestBid":0.000522,"percentChange":-3.5120162891405,"baseVolume":159.1512,"quoteVolume":293120.06,"high24hr":0.000574,"low24hr":0.000507},"lrc_cny":{"result":"true","last":0.315,"lowestAsk":0.43,"highestBid":0.2,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.43,"low24hr":0.2},"pst_btc":{"result":"true","last":"0.00003360","lowestAsk":"0.00005200","highestBid":"0.00002900","percentChange":-0.00033619978868185,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00005200","low24hr":"0.00002900"},"pst_eth":{"result":"true","last":0.000626,"lowestAsk":0.000699,"highestBid":0.000626,"percentChange":4.1597227065557,"baseVolume":0.3446,"quoteVolume":549.47,"high24hr":0.00072,"low24hr":0.000625},"pst_cny":{"result":"true","last":1,"lowestAsk":1.29,"highestBid":1,"percentChange":-54.934655250113,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":1.29,"low24hr":1},"tnt_eth":{"result":"true","last":0.00016,"lowestAsk":0.000181,"highestBid":0.000166,"percentChange":-6.432760533076,"baseVolume":0.9726,"quoteVolume":5741.15,"high24hr":0.000171,"low24hr":0.000157},"tnt_cny":{"result":"true","last":0.396,"lowestAsk":0.79,"highestBid":0.001,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.79,"low24hr":0.001},"bts_cny":{"result":"true","last":0.3036,"lowestAsk":0.3052,"highestBid":0.3036,"percentChange":3.3783783789324,"baseVolume":346942.52,"quoteVolume":1168489.38,"high24hr":0.3179,"low24hr":0.288},"cnc_cny":{"result":"true","last":0.0038,"lowestAsk":0.0047,"highestBid":0.0038,"percentChange":-9.5238095476667,"baseVolume":15616.23,"quoteVolume":4109890.095,"high24hr":0.005,"low24hr":0.0033},"rep_cny":{"result":"true","last":79.515,"lowestAsk":134,"highestBid":25.03,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":134,"low24hr":25.03},"bat_cny":{"result":"true","last":2.22,"lowestAsk":1.35,"highestBid":1.1,"percentChange":104.42009392285,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":1.35,"low24hr":1.1},"snt_cny":{"result":"true","last":0.58,"lowestAsk":0.184,"highestBid":0.157,"percentChange":202.0833333328,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.184,"low24hr":0.157},"snt_btc":{"result":"true","last":"0.00000480","lowestAsk":"0.00000480","highestBid":"0.00000410","percentChange":14.285691748576,"baseVolume":0.0476,"quoteVolume":11113.42,"high24hr":"0.00000480","low24hr":"0.00000380"},"snt_eth":{"result":"true","last":"0.00007800","lowestAsk":"0.00008000","highestBid":"0.00007800","percentChange":2.6315789473684,"baseVolume":22.884,"quoteVolume":303254.243,"high24hr":"0.00007800","low24hr":"0.00007200"},"btm_eth":{"result":"true","last":0.00028,"lowestAsk":0.000285,"highestBid":0.000271,"percentChange":15.226336872428,"baseVolume":115.5011,"quoteVolume":414671.29,"high24hr":0.000298,"low24hr":0.000241},"omg_cny":{"result":"true","last":54.05,"lowestAsk":70,"highestBid":38.1,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":70,"low24hr":38.1},"omg_btc":{"result":"true","last":0.001349,"lowestAsk":0.001399,"highestBid":0.00116,"percentChange":8.6150366078905,"baseVolume":0.2452,"quoteVolume":194.849,"high24hr":0.0014,"low24hr":0.001151},"omg_eth":{"result":"true","last":0.02201,"lowestAsk":0.02306,"highestBid":0.02203,"percentChange":-4.5119305856833,"baseVolume":7.606,"quoteVolume":329.027,"high24hr":0.0236,"low24hr":0.02201},"pay_cny":{"result":"true","last":15.3,"lowestAsk":18.6,"highestBid":12,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":18.6,"low24hr":12},"pay_btc":{"result":"true","last":0.00037,"lowestAsk":0.000376,"highestBid":0.00029,"percentChange":-0.00057290104865258,"baseVolume":0.0011,"quoteVolume":3.142,"high24hr":0.00037,"low24hr":0.000325},"pay_eth":{"result":"true","last":0.00554,"lowestAsk":0.00554,"highestBid":0.0052,"percentChange":10.800000163248,"baseVolume":4.725,"quoteVolume":895.997,"high24hr":0.0058,"low24hr":0.005},"bat_eth":{"result":"true","last":0.000475,"lowestAsk":0.000515,"highestBid":0.000475,"percentChange":2.5917897675076,"baseVolume":1.24,"quoteVolume":2607.033,"high24hr":0.000516,"low24hr":0.000463},"ico_cny":{"result":"true","last":1.797,"lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":-33.933823529412,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":"0.00000000"},"ico_btc":{"result":"true","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":"0.00000000"},"ico_eth":{"result":"true","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":"0.00000000"},"cvc_cny":{"result":"true","last":2.345,"lowestAsk":2.59,"highestBid":2.1,"percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":2.59,"low24hr":2.1},"cvc_btc":{"result":"true","last":"0.00003730","lowestAsk":"0.00006190","highestBid":"0.00005100","percentChange":-38.852834549172,"baseVolume":0.2934,"quoteVolume":4812.98,"high24hr":"0.00006190","low24hr":"0.00003730"},"cvc_eth":{"result":"true","last":0.000711,"lowestAsk":0.000951,"highestBid":0.000711,"percentChange":-26.851879058856,"baseVolume":1.278,"quoteVolume":1337.971,"high24hr":0.000973,"low24hr":0.000711},"doc_cny":{"result":"true","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":"0.00000000"},"doc_btc":{"result":"true","last":"0.00000000","lowestAsk":"0.00000000","highestBid":"0.00000000","percentChange":0,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000000","low24hr":"0.00000000"},"storj_cny":{"result":"true","last":7.5,"lowestAsk":3.21,"highestBid":2,"percentChange":114.28571997736,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":3.21,"low24hr":2},"storj_btc":{"result":"true","last":"0.00006000","lowestAsk":"0.00006000","highestBid":"0.00000590","percentChange":-11.764705882353,"baseVolume":0.4189,"quoteVolume":9541.09,"high24hr":"0.00007300","low24hr":"0.00000650"},"storj_eth":{"result":"true","last":0.001081,"lowestAsk":0.0011,"highestBid":0.001081,"percentChange":-10.000030798383,"baseVolume":23.318,"quoteVolume":21290.653,"high24hr":0.0012,"low24hr":0.001007},"eos_cny":{"result":"true","last":12.96,"lowestAsk":8.834,"highestBid":5,"percentChange":61.555721758913,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":8.834,"low24hr":5},"eos_btc":{"result":"true","last":0.0001,"lowestAsk":0.0001124,"highestBid":0.0001001,"percentChange":-0.99009900990099,"baseVolume":0.0662,"quoteVolume":658.64,"high24hr":0.000101,"low24hr":0.0001},"eos_eth":{"result":"true","last":0.001713,"lowestAsk":0.001713,"highestBid":0.001704,"percentChange":-2.8360753225695,"baseVolume":64.917,"quoteVolume":37206.715,"high24hr":0.001812,"low24hr":0.00169},"doge_cny":{"result":"true","last":0.00612,"lowestAsk":0.00613,"highestBid":0.00609,"percentChange":1.4999999862117,"baseVolume":124977.08,"quoteVolume":20801970.61,"high24hr":0.0062,"low24hr":0.00589},"dash_cny":{"result":"true","last":1705.02,"lowestAsk":1800,"highestBid":1755,"percentChange":-3.463933869324,"baseVolume":214051.34,"quoteVolume":119.8508,"high24hr":1819.12,"low24hr":1700.19},"eth_cny":{"result":"true","last":1995,"lowestAsk":2000,"highestBid":1995,"percentChange":0.30090270812437,"baseVolume":3303206.17,"quoteVolume":1642.7041,"high24hr":2050.01,"low24hr":1980},"etc_cny":{"result":"true","last":73,"lowestAsk":72.926,"highestBid":72.43,"percentChange":2.5775385922674,"baseVolume":485480.63,"quoteVolume":6792.992,"high24hr":74.44,"low24hr":69.012},"ftc_cny":{"result":"true","last":0.214,"lowestAsk":0.219,"highestBid":0.214,"percentChange":12.631578487716,"baseVolume":10822.11,"quoteVolume":52716.10239,"high24hr":0.229,"low24hr":0.19},"ifc_cny":{"result":"true","last":0.0006003,"lowestAsk":0.0004,"highestBid":0.0003,"percentChange":100.76923076665,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.0004,"low24hr":0.0003},"nmc_cny":{"result":"true","last":6,"lowestAsk":6.15,"highestBid":6,"percentChange":-7.1207430340557,"baseVolume":47105.17,"quoteVolume":7534.733,"high24hr":6.63,"low24hr":6},"nxt_cny":{"result":"true","last":0.3952,"lowestAsk":0.412,"highestBid":0.3886,"percentChange":-0.82810539523213,"baseVolume":154474.41,"quoteVolume":397656.06,"high24hr":0.44,"low24hr":0.368},"ppc_cny":{"result":"true","last":7.41,"lowestAsk":7.47,"highestBid":6.93,"percentChange":8.9574155648913,"baseVolume":7181.07,"quoteVolume":1072.914,"high24hr":7.56,"low24hr":6.51},"tips_cny":{"result":"true","last":"0.00000830","lowestAsk":"0.00000950","highestBid":"0.00000830","percentChange":1.2195121904598,"baseVolume":11238.54,"quoteVolume":1272001360,"high24hr":"0.00001100","low24hr":"0.00000800"},"tix_cny":{"result":"true","last":"0.00000940","lowestAsk":"0.00000980","highestBid":"0.00000910","percentChange":8.2352941080047,"baseVolume":10860.89,"quoteVolume":1142167242.54,"high24hr":"0.00001080","low24hr":"0.00000840"},"xcp_cny":{"result":"true","last":42.51,"lowestAsk":47.44,"highestBid":42.51,"percentChange":-18.25,"baseVolume":15710.66,"quoteVolume":300.3985,"high24hr":58,"low24hr":42},"xmr_cny":{"result":"true","last":560,"lowestAsk":549.449,"highestBid":541.001,"percentChange":5.6603773584906,"baseVolume":140285.27,"quoteVolume":255.629,"high24hr":574,"low24hr":500},"xpm_cny":{"result":"true","last":0.51,"lowestAsk":0.6115,"highestBid":0.51,"percentChange":-22.750681611633,"baseVolume":16357.99,"quoteVolume":25725.135,"high24hr":0.6976,"low24hr":0.51},"xtc_cny":{"result":"true","last":0.0038,"lowestAsk":0.004,"highestBid":0.0038,"percentChange":0,"baseVolume":4647.108,"quoteVolume":1197907.445,"high24hr":0.0045,"low24hr":0.0035},"ltc_btc":{"result":"true","last":0.0117,"lowestAsk":0.0122,"highestBid":0.01195,"percentChange":12.499315211865,"baseVolume":0.43559,"quoteVolume":39.2533,"high24hr":0.0117,"low24hr":0.01},"bts_btc":{"result":"true","last":"0.00000900","lowestAsk":"0.00000930","highestBid":"0.00000800","percentChange":-1.0989010989011,"baseVolume":0.3849,"quoteVolume":45486.973,"high24hr":"0.00000930","low24hr":"0.00000780"},"cnc_btc":{"result":"true","last":"0.00000011","lowestAsk":"0.00000012","highestBid":"0.00000010","percentChange":0,"baseVolume":0.01316,"quoteVolume":131060.841,"high24hr":"0.00000011","low24hr":"0.00000010"},"rep_btc":{"result":"true","last":0.00220019,"lowestAsk":0.00439998,"highestBid":0.00220019,"percentChange":-0.00021040266976809,"baseVolume":0.00657,"quoteVolume":2.986,"high24hr":0.00220019,"low24hr":0.00220018},"bat_btc":{"result":"true","last":"0.00002940","lowestAsk":"0.00003150","highestBid":"0.00002720","percentChange":-16.000086764131,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00003150","low24hr":"0.00002720"},"hkg_btc":{"result":"true","last":"0.00000030","lowestAsk":"0.00000045","highestBid":"0.00000031","percentChange":-3.2263107040839,"baseVolume":0.0066,"quoteVolume":21999.899,"high24hr":"0.00000030","low24hr":"0.00000030"},"doge_btc":{"result":"true","last":"0.00000019","lowestAsk":"0.00000019","highestBid":"0.00000017","percentChange":11.764662292324,"baseVolume":0.03232,"quoteVolume":183132.2,"high24hr":"0.00000019","low24hr":"0.00000015"},"dash_btc":{"result":"true","last":0.03,"lowestAsk":0.0615,"highestBid":0.03002,"percentChange":-47.294448348559,"baseVolume":0.0002,"quoteVolume":0.0069,"high24hr":0.03,"low24hr":0.03},"eth_btc":{"result":"true","last":0.058986,"lowestAsk":0.058986,"highestBid":0.057216,"percentChange":-7.1242615304397,"baseVolume":1.1124,"quoteVolume":18.6622,"high24hr":0.061594,"low24hr":0.056127},"etc_btc":{"result":"true","last":0.001956,"lowestAsk":0.002198,"highestBid":0.001952,"percentChange":-11.051439928204,"baseVolume":0.1453,"quoteVolume":66.153,"high24hr":0.0022,"low24hr":0.001956},"ftc_btc":{"result":"true","last":"0.00000659","lowestAsk":"0.00000815","highestBid":"0.00000659","percentChange":19.817996361205,"baseVolume":0.07773,"quoteVolume":14017.234,"high24hr":"0.00000659","low24hr":"0.00000500"},"nmc_btc":{"result":"true","last":0.00018,"lowestAsk":0.00020242,"highestBid":0.00018133,"percentChange":-9.9954997749887,"baseVolume":0.6127,"quoteVolume":3568.262,"high24hr":0.00018,"low24hr":0.00015002},"nxt_btc":{"result":"true","last":"0.00001350","lowestAsk":"0.00001360","highestBid":"0.00001000","percentChange":36.36363637502,"baseVolume":0.0053,"quoteVolume":524.64,"high24hr":"0.00001350","low24hr":"0.00000990"},"ppc_btc":{"result":"true","last":0.0002,"lowestAsk":0.00026,"highestBid":0.0002,"percentChange":-0.0090579710149982,"baseVolume":0.00144,"quoteVolume":6.624,"high24hr":0.00023,"low24hr":0.0002},"xtc_btc":{"result":"true","last":"0.00000003","lowestAsk":"0.00000033","highestBid":"0.00000002","percentChange":-40.004972109368,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000033","low24hr":"0.00000002"},"xcn_btc":{"result":"true","last":"0.00000018","lowestAsk":"0.00000020","highestBid":"0.00000018","percentChange":-5.2646581664895,"baseVolume":0.00317,"quoteVolume":15971.805,"high24hr":"0.00000022","low24hr":"0.00000018"},"xcp_btc":{"result":"true","last":0.00322,"lowestAsk":0.003,"highestBid":0.00064,"percentChange":60.999984091495,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":0.003,"low24hr":0.00064},"xem_btc":{"result":"true","last":"0.00004100","lowestAsk":"0.00003698","highestBid":"0.00003200","percentChange":2.49927227792,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00003698","low24hr":"0.00003200"},"xem_cny":{"result":"true","last":1.2187,"lowestAsk":1.2186,"highestBid":1.1859,"percentChange":1.558333196075,"baseVolume":31682.984,"quoteVolume":26825.462,"high24hr":1.2399,"low24hr":1.0226},"xpm_btc":{"result":"true","last":"0.00001221","lowestAsk":"0.00002940","highestBid":"0.00001800","percentChange":-0.00020819871417198,"baseVolume":0.00287,"quoteVolume":235.238,"high24hr":"0.00001221","low24hr":"0.00001221"},"xmr_btc":{"result":"true","last":0.0146,"lowestAsk":0.0146,"highestBid":0.01160001,"percentChange":0,"baseVolume":0.04472,"quoteVolume":3.063,"high24hr":0.0146,"low24hr":0.0146},"mg_btc":{"result":"true","last":"0.00000220","lowestAsk":"0.00000230","highestBid":"0.00000220","percentChange":-5.8117095450328e-5,"baseVolume":0.805,"quoteVolume":372510.931,"high24hr":"0.00000220","low24hr":"0.00000210"},"ifc_ltc":{"result":"true","last":"0.00000019","lowestAsk":"0.00000021","highestBid":"0.00000019","percentChange":-5.000005005265,"baseVolume":10.85586631,"quoteVolume":48335400,"high24hr":"0.00000026","low24hr":"0.00000019"},"tips_ltc":{"result":"true","last":"0.00000002","lowestAsk":"0.00000006","highestBid":"0.00000001","percentChange":99.99999884696,"baseVolume":"0.00007521","quoteVolume":3760.5,"high24hr":"0.00000002","low24hr":"0.00000002"},"tix_ltc":{"result":"true","last":"0.00000002","lowestAsk":"0.00000006","highestBid":"0.00000001","percentChange":-3.6296850053205e-6,"baseVolume":"0.00000000","quoteVolume":"0.00000000","high24hr":"0.00000006","low24hr":"0.00000001"},"etc_eth":{"result":"true","last":0.03887,"lowestAsk":0.038,"highestBid":0.030112,"percentChange":6.0283457362657,"baseVolume":1.802,"quoteVolume":46.629,"high24hr":0.038879,"low24hr":0.03666},"zec_btc":{"result":"true","last":0.0421,"lowestAsk":0.042,"highestBid":0.0374,"percentChange":-0.23693193003792,"baseVolume":0.1819,"quoteVolume":4.31338,"high24hr":0.0436,"low24hr":0.038},"zec_cny":{"result":"true","last":1361,"lowestAsk":1366.63,"highestBid":1361,"percentChange":-1.7184115308592,"baseVolume":509919.96,"quoteVolume":370.59004,"high24hr":1400.74,"low24hr":1351.5}}'
  recorded_at: Sun, 15 Oct 2017 04:33:10 GMT
recorded_with: VCR 3.0.3
