---
http_interactions:
- request:
    method: get
    uri: https://api.livecoin.net/exchange/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"cur":"USD","symbol":"USD/RUR","last":56.20002000,"high":57.28995000,"low":56.01101000,"volume":1074.85847907,"vwap":56.14269094,"max_bid":57.28995000,"min_ask":56.01101000,"best_bid":56.20002000,"best_ask":57.28979000},{"cur":"EUR","symbol":"EUR/USD","last":1.13300000,"high":1.17799000,"low":1.13300000,"volume":588.32903473,"vwap":1.15051577,"max_bid":1.17799000,"min_ask":1.13300000,"best_bid":1.13300000,"best_ask":1.17000000},{"cur":"BTC","symbol":"BTC/USD","last":5523.78280000,"high":5533.33333000,"low":5425.00000000,"volume":687.41808310,"vwap":5483.54701315,"max_bid":54989.50000000,"min_ask":547.75778000,"best_bid":5515.30001000,"best_ask":5531.98000000},{"cur":"BTC","symbol":"BTC/EUR","last":[...]
